<div class="container">
<div style="margin:20px">
<%= link_to "Créer une nouvelle consultation", new_patient_consultation_path, class: "btn btn-primary", style:"margin-top:20px;" %>
<%= link_to "Retour",patients_path, class: "btn btn-danger", style:"margin-top:20px;" %>
<h1 style="margin-top:10px"> Liste des consultations de <%= @patient.nom %> <%= @patient.prenom%></h1>
<table class="rwd-table" style= "width: 100%">
  <tr>
    <th>Editer</th>
    <th>Date de consultation</th>
    <th>Motif</th>
    <th>Examen Clinique</th>
    <th>Examen Complémentaire</th>
    <th>Détail</th>
    <th>Supprimer</th>
  </tr>
  <% @consultations.each do |consultation| %>
    <tr data-link="<%= patient_consultation_path(@patient.id,consultation.id) %>">
            <td data-th="editer"><%= link_to edit_patient_consultation_path(@patient.id,consultation.id) do %>
         <h3> <i class="fas fa-edit"></i></h3>
        <%end%></td>
      <td data-th="Date de consultation"><%= consultation.date.strftime("%d/%m/%Y")%></td>
      <td data-th="Examen Clinique"><%= consultation.motif %></td>
      <td data-th="Date de naissance"><%= consultation.examenclinique %></td>
      <td data-th="Examen Comp"><%= consultation.examencomplementaire %></td>
      <td data-th="detail"><%= link_to "Détails consultation",patient_consultation_path(@patient.id,consultation.id),class: "btn btn-primary"%></td>
      <td data-th="Supprimer"><%= link_to "Supprimer", patient_consultation_path(@patient.id,consultation.id), method: :delete, data: {confirm: "Etes vous sûr?"}, class: "btn btn-danger"%>
    </tr>
  <%end%>

</table>
</div>



</div>
