<%= link_to "Créer une nouvelle consultation", new_patient_consultation_path, class: "btn btn-primary"%>
<h1> Liste des consultations de <%= @patient.nom %> <%= @patient.prenom%></h1>
<table class="rwd-table">
  <tr>
    <th>Date de consultation</th>
    <th>Motif</th>
    <th>Examen Clinique</th>
    <th>Examen Complémentaire</th>
  </tr>
  <% @consultations.each do |consultation| %>
    <tr data-link="<%= patient_consultations_path(patient.id) %>">
      <td data-th="Date de consultation"><%= consultation.date%></td>
      <td data-th="Examen Clinique"><%= consultation.motif %></td>
      <td data-th="Date de naissance"><%= consultation.examenclinique %></td>
      <td data-th="Examen Complémentaire"><%= consultation.examencomplementaire %></td>

    </tr>
  <%end%>

</table>




