<div class="creatproduct">
    <%= simple_form_for [@patient,@consultation] do |f| %>

        <%= f.input :date, label: "Date de consultation" %>
        <%= f.input :motif %>
        <%= f.input :examenclinique %>
        <%= f.input :examencomplementaire %>
        <%= f.input :pictures, as: :file, input_html: { multiple: true } %>
        <%=f.submit%>
  <%end%>
</div>
