<%= link_to "Retour",  patient_consultations_path, class: "btn btn-danger" %>

    <div class="ordonnance" style="width:60%;margin:20px;" >

        <table class="rwd-table" style="font-size: 20px;">
        <thead>
          <tr>
            <th>Nom du patient</th>
            <th>Prénom du patient</th>
            <th>Date de consultation</th>
            <th>Motif de consultation </th>
            <th>Examen clinique </th>
            <th>Examen comp</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-th="Nom du patient"><%= @patient.nom %></td>
            <td data-th="Prénom du patient"><%= @patient.prenom %></td>
            <td data-th="Date de consultation"><%= @consultation.date %></td>
            <td data-th="Motif de consultation"><%= @consultation.motif %></td>
            <td data-th="Examen clinique "><%= @consultation.examenclinique %></td>
            <td data-th="Examen comp"><%= @consultation.examencomplementaire %></td>
          </tr>
        </tbody>

      </table>

  <% if @consultation.pictures.attachments.present? %>
    <% @consultation.pictures.each do |consultation| %>
      <%= cl_image_tag consultation.key, height: 600, width: 400, crop: :fill %>
    <%end%>
  <% end %>

    </div>



    <div class="ordonnance" style="width:60%;margin:20px;" >
            <h4>Ordonnance du patient : <%= @patient.nom %> <%= @patient.prenom %> suite à la consultation du <%=@consultation.date%> </h4>

      <table class="table table-hover" style="border: solid; border-style: light; border-width: 1px; border-color: lighgray; background-color: white; box-shadow: 2px 2px 2px lighgray;">
        <thead>
          <tr>
            <th scope="col">Nom du médicament</th>
            <th scope="col">Dose</th>
            <th scope="col">Durée</th>
          </tr>
        </thead>
        <tbody>
          <%@prescriptions.each do |prescription|%>
          <tr>
            <td><%= Medicament.find(prescription.medicament_id).nom%></td>
            <td><%= prescription.dose%></td>
            <td><%= prescription.duree%></td>
          </tr>
        </tbody>
        <%end%>
      </table>



    </div>
