<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="margin-bottom: 10px;">

  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/djucwyxjo/image/upload/v1585509176/doctor_bchjyy.png" %>
    <% end %>

   <div class="d-block d-sm-none">
    <%= link_to destroy_user_session_path, method: :delete do %>
     <h4 style="color:gray"><i class="fas fa-sign-out-alt"></i></h4>
    <%end%>
  </div>


  <% if current_user != nil %>
    <center><h2>Cabinet Dr <strong style="color:black;"><%=current_user.nom%></strong> <%=current_user.prenom%></h2></center>
    <%end%>
   <div class="d-none d-sm-block">
    <%= link_to destroy_user_session_path, method: :delete do %>
     <h4 style="color:gray"><i class="fas fa-sign-out-alt"></i></h4>
    <%end%>
  </div>

</div>
