<%= link_to "Créer un nouveau patient", new_patient_path, class: "btn btn-primary"%>
 <%= form_tag(patients_path, :method => "get") do %>
    <div class="d-flex" style="margin-top:20px;box-shadow: 2px 2px 5px lightgray;">
      <div style="width:100%"><%= search_field_tag :search, params[:search], placeholder: "Chercher par nom ou cin", class: "form-control", style: "height:60px;" %></div>
      <div><%= button_tag "Rechercher", :style => "background-color: #FF5A5F", :class => 'btn btn-primary glyphicon glyphicon-search', style: "background-color:#05A9F4;font-weight:bold;width:110px;height:60px;",:name => nil%></div>
      <%end%>
    </div>

<table class="rwd-table">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Date de naissance</th>
    <th>age</th>
    <th>sexe</th>
    <th>email</th>
    <th>adresse</th>
    <th>CIN</th>
  </tr>
  <% @patients.each do |patient| %>
    <tr data-link="<%= patient_consultations_path(patient.id) %>">
      <td data-th="Nom"><%= patient.nom%></td>
      <td data-th="Prénom"><%= patient.prenom %></td>
      <td data-th="Date de naissance"><%= patient.datedenaissance %></td>
      <td data-th="age"><%= patient.age %></td>
      <td data-th="sexe"><%= patient.sexe%></td>
      <td data-th="email"><%= patient.email %></td>
      <td data-th="adresse"><%= patient.adresse %></td>
      <td data-th="CIN"><%= patient.cin %></td>
    </tr>
  <%end%>

</table>




