<h1> Création de l'ordonnance de <%= @patient.nom %> <%= @patient.prenom%></h1>

<%= link_to "Ajouter un médicament", new_patient_consultation_ordonnance_medicament_path, class: "btn btn-success"%>

    <% @prescriptions.each do |prescription|%>
      <p style="color:white; font-size: bold;"> Liste des médicaments prescrits </p>

    <h6 style="color:white; display:block "><i class="fas fa-tablets"></i> Nom: <%= Medicament.find(prescription.medicament_id).nom %>|| Dose: <%= prescription.dose%> || Durée: <%= prescription.duree%></h6><br>
    <%end%>

<%= link_to "Fin de la consultation", patients_path, class: "btn btn-danger", notice: "L'ordonnance a bien été sauvegardé"%>
 <%= form_tag(patient_consultation_ordonnance_medicaments_path, :method => "get") do %>
    <div class="d-flex" style="margin-top:20px;box-shadow: 2px 2px 5px lightgray;">
      <div style="width:100%"><%= search_field_tag :search, params[:search], placeholder: "Chercher par nom ou molecule", class: "form-control", style: "height:60px;" %></div>
      <div><%= button_tag "Rechercher", :style => "background-color: #FF5A5F", :class => 'btn btn-primary glyphicon glyphicon-search', style: "background-color:#05A9F4;font-weight:bold;width:110px;height:60px;",:name => nil%></div>
      <%end%>
    </div>

  <table class="rwd-table" style="font-size: 12px;">

    <% if @medicaments == nil %>

    <% elsif @medicaments[0] !=nil %>
    <tr>
      <th>Nom</th>
      <th>Molecule</th>
      <th>Dosage</th>
      <th>Unite</th>
      <th>Forme</th>
      <th>Présentation</th>
      <th>PPV</th>
      <th>Remboursement</th>
      <th>Ajouter à l'ordonnance?</th>
    </tr>

      <% @medicaments[0].each do |medicament| %>
      <tr>
          <td data-th="Nom"><%= medicament.nom%></td>
          <td data-th="Molecule"><%= medicament.molecule%></td>
          <td data-th="Dosage"><%= medicament.dosage %></td>
          <td data-th="Unite"><%= medicament.unite %></td>
          <td data-th="Forme"><%= medicament.forme %></td>
          <td data-th="Présentation"><%= medicament.presentation %></td>
          <td data-th="PPV"><%= medicament.ppv %></td>
          <td data-th="Remboursement"><%= medicament.remboursement %></td>
          <td data-th="Ajouter à l'ordonnance?"><%= render 'shared/add', medicament: medicament %></td>
      </tr>
      <%end%>

  <%elsif @medicaments.count == 1 %>

      <tr>
      <th>Nom</th>
      <th>Molecule</th>
      <th>Dosage</th>
      <th>Unite</th>
      <th>Forme</th>
      <th>Présentation</th>
      <th>PPV</th>
      <th>Remboursement</th>
      <th>Ajouter à l'ordonnance?</th>
    </tr>


      <tr>
          <td data-th="Nom"><%= @medicaments.nom%></td>
          <td data-th="Molecule"><%= @medicaments.molecule%></td>
          <td data-th="Dosage"><%= @medicaments.dosage %></td>
          <td data-th="Unite"><%= @medicaments.unite %></td>
          <td data-th="Forme"><%= @medicaments.forme %></td>
          <td data-th="Présentation"><%= @medicaments.presentation %></td>
          <td data-th="PPV"><%= @medicaments.ppv %></td>
          <td data-th="Remboursement"><%= @medicaments.remboursement %></td>
          <td data-th="Ajouter à l'ordonnance?"><%= render 'shared/add', medicament: @medicaments %></td>
      </tr>




<%end%>
</table>



